@font-face {
  font-family: 'ExocetHeavy';
  src: url('./assets/fonts/ExocetHeavy.woff2') format('woff2');
  src: url('./assets/fonts/ExocetHeavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ExocetLight';
  src: url('./assets/fonts/ExocetLight.woff2') format('woff2');
  src: url('./assets/fonts/ExocetLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.planner {
  margin: auto;
  padding: 10px;
  width: fit-content;
}

#skillTooltipOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none;
  pointer-events: none;
}

#skillTooltipOverlay.visible {
  display: block;
}