.tooltipContainer {
  background: rgba(0, 0, 0, 0.8);
  width: 420px;
  max-width: 100%;
  padding: 20px;
  text-align: center;
  font-family: 'ExocetLight';
  color: white;
}

.skillName {
  color: white;
  font-size: 20px;
  font-family: 'ExocetLight';
}

.skillLongName {
  color: white;
  font-size: 17px;
}

.currentLevelBlock h3 {
  color: white;
  font-size: 17px;
  font-family: 'ExocetLight';
}